$couleurPrimaireBack: #901C1C;
$couleurPrimaireFont: #DB8876;
$couleurSecondaireBack: #DB8876;
$couleurSecondaireFont: #901C1C;
$lightGreyBack: #FAFAFA;
$familyFont: 'DM Sans', sans-serif;

body{
    margin: 0 0 2rem 0;
}