main.photographer{
    section.photographerCard{
        font-family: $familyFont;
        background-color: $lightGreyBack;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
        img.imgPhotographer{
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
        }
        h2{
            font-size: 64px;
            line-height: 47px;
            font-weight: 400;
            color: $couleurPrimaireFont;
            margin: 0 0 2rem 0; 
        }
        .location{
            font-size: 24px;
            line-height: 17px;
            color: $couleurSecondaireFont;
            font-weight: 400;
            margin: 0 0 2rem 0;
        }
        .tagline{
            font-size: 18px;
            line-height: 13px;
            margin: 0;
        }
        .contentTag{
            margin-top: 0.3rem;
        }
        div.container{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        button{
            height: 69px;
            width: 170px;
            font-size: 20px;
            font-weight: 700;
            background-color: $couleurPrimaireBack;
            color: white;
            border: 0;
            border-radius: 0.5rem;
        }
    }
}